[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
py-spy = "*"

[dev-packages]
ipdb = "*"
flake8 = "*"
pytest = "*"
yapf = "*"
pytest-cov = "*"
tox = "*"

[requires]
python_version = "3.7"

[dev-packages.isort]
extras = [ "pipfile",]
